.pwas-search-component{
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 100000009;
    line-height: 1.4;
    background: rgba(255,255,255,1);
    transition: opacity 0.3s ease-in;
    padding: 20px;
    overflow: auto;
    .layout.horizontal, .layout.vertical {
        display: flex;
    }

    .layout.horizontal {
        flex-direction: row;
    }

    .layout.vertical {
        flex-direction: column;
    }

    .layout.center {
        align-items: center;
    }

    .pwas-flex{
    	flex: 1 1 1e-09px;
    }

    .layout.wrap {
        flex-wrap: wrap;
    }

    @media (max-width: 420px){
	    .grid-container {
	        justify-content: center;
	    }
    }

    .offlineLabel {
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.5px;
        color: #2f820c;
        font-family: sans-serif;
        padding: 2px 0 0 0;
    }

    #pwas-search-bar{
    	#paw-search-text{
	    	width: 100%;
	    	box-sizing: border-box;
	    	outline: none;
	    	border: none;
	    	font-size: 16px;
	    	color: inherit;
	    	background: none;
	    	border-bottom: 2px solid;
	    	font-family: system-ui, sans-serif;
	    	padding: 4px 2px;
	    	font-weight: 300;
	    	letter-spacing: 0.04em;
	    	border-radius: 0;
	    	border-color: rgba(0,0,0,0.1);
    	}
    	#pwas-close-button{
    		color: #2196f3;
    		border: 2px solid;
    		border-radius: 50%;
    		padding: 6px;
    		.pwas-back-button{
    			background: none;
			    cursor: pointer;
			    outline: none;
			    border: none;
			    border-radius: 50%;
			    overflow: hidden;
			    padding: 6px;
			    color: inherit;
			    user-select: none;
			    position: relative;
			    display: block;
			    .pwas-back-svg{
			    	display: inline-flex;
			    	align-items: center;
			    	justify-content: center;
			    	position: relative;
			    	vertical-align: middle;
			    	fill: currentcolor;
			    	stroke: none;
			    	width: 24px;
			    	height: 24px;
			    	box-sizing: initial;
			    }

			    svg{
			    	pointer-events: none;
		    	    display: block;
		    	    width: 100%;
		    	    height: 100%;
			    }
    		}
    	}
    }

    .pwas-result-section-wrapper{
    	max-width: 1066px;
	    box-sizing: border-box;
	    margin: 0 auto;
	    padding: 16px 8px 0;

	    .pwas-result-item{
	    	display: block;
	    	width: 159px;
	    	margin: 16px 0;
	    	box-sizing: border-box;
	    }

	    #pwas-card{
	    	background: white;
	    	font-size: 13px;
	    	padding: 0 12px;
	    	position: relative;
	    }
	    #pwas-image-container {
	        border-radius: 5px;
	        overflow: hidden;
	        width: 100%;
	    }

	    #pwas-image-panel {
	        height: 128px;
	        width: 100%;
	        background-color: #f0f0f0;
	        background-size: cover;
	        background-origin: border-box;
	        background-repeat: no-repeat;
	        background-position: 50% 50%;
	        border: none;
	        text-decoration: none;
	        color: inherit;
	        position: relative;
	        outline: none;
	        box-sizing: border-box;
	        margin: 0;
	        transition: transform 0.3s ease;
	        display: block;
	        overflow: hidden;
	    }

	    #pwas-name{
	    	text-decoration: none;
	    	font-size: 14px;
	    	color: inherit;
	    	outline: none;
	    	margin: 8px 0 0;
	    	display: block;
	    }
    }
}
